<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Welcome, Nasser!</title>
</head>
<body>
  <h1>Deployed by Ansible Role: nginx_app</h1>
  <p>Server: {{ inventory_hostname }}</p>
</body>
</html>
